@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root {

    /*-------------------FONT-FAMILY-------------------*/
    --ff-main: 'Roboto', sans-serif;

    /*-------------------FONT-SIZES-------------------*/
    --fs-hero: 48px;
    --fs-secondary: 18px;
    --fs-logo: 24px;
    --fs-info: 36px;
    --fs-quote: 36px;

    /*-------------------COLORS-------------------*/
    --dbg-clr: #1F2937;
    --btn-clr: #3882F6;
    --info-clr: #E5E7EB;
    --title-clr: #F9FAF8;
}

 /*-------------------MAIN HTML-------------------*/

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    font-family: var(--ff-main);
    font-size: var(--fs-hero);
    color: var(--title-clr);
}

h2 {
    font-family: var(--ff-main);
    font-size: var(--fs-info);
}

h3 {
    font-family: var(--ff-main);
    font-size: var(--fs-logo);
}

p {
    font-family: var(--ff-main);
    font-size: var(--fs-secondary);

}

label {
    color: var(--info-clr);
    font-family: var(--ff-main);
    font-size: var(--fs-logo);
    font-weight: 700;
}

a {
    text-decoration: none;
    font-family: var(--ff-main);
    font-size: var(--fs-secondary);
}

a:visited {
    color: var(--info-clr);
}

 /*-------------------HEADER-------------------*/
.header {
    background-color: var(--dbg-clr);
    height: auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-weight: 700;
}

.header-list {
    display: flex;
    gap: 1.5rem;
}

/*-------------------MASTHEAD-------------------*/
.masthead-container {
    height: auto;
    background-color: var(--dbg-clr);
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.masthead-content {
    height: auto;
    max-width: 24%;
}

.masthead-btn {
 border: none;
 border-radius: 8px;
 font-size: var(--fs-logo);
 font-weight: 700;
 background-color: var(--btn-clr);
 color: var(--title-clr);
 height: 2.5rem;
 width: 8rem;
 cursor: pointer;
}

.masthead-btn:hover {
    background-color: var(--title-clr);
    color: var(--dbg-clr);
    transition: all .5s ease-in-out;
}

.masthead-img {
    height: auto;
    width: 30%;
 }

 /*-------------------CARD-SECTION-------------------*/
.card-section {
    padding: 2rem 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content {
    display: flex;
    gap: 6rem;
    padding: 2rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.card p {
    max-width: 200px;
    color: black;
    text-align: center;
}

.box {
    height: 200px;
    width:  200px;
    border: solid 2px var(--btn-clr);
    border-radius: 12px;
}

/*-------------------QUOTE-SECTION-------------------*/
.quote-section {
    height: auto;
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: var(--info-clr);
}

.quote-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    max-width: 60%;
    margin: 0;
}

.quote {
    font-weight: 100;
    font-size: var(--fs-hero);
    color: var(--dbg-clr);
}

.signature {
    font-size: var(--fs-info);
    margin: 0;
}